* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

}

body {
    background-color: rgba(1, 4, 9, 255);
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-style: normal;

}


main {
    color: #b0b7bc;
    font-size: 1.5rem;

}

main h2 {
    margin: 0 20px;
    font-size: 3rem;
}

main h3 {
    font-size: 2.5rem;
}

main h4 {
    font-size: 2.0rem;
}

.navbar-brand {
    font-size: 3rem;
}

.navbar-nav {
    font-size: 2.5rem;
}



.info {
    min-width: 50%;
    max-width: 60%;
    margin-left: 50px;

    img {
        min-width: 8vh;
        max-width: 15vh;
    }
}

.info-name {
    width: 100%;
}

.profile-paragraphs {
    padding: 10px;
    margin-left: 80px;
}
#frame-info{
    background-color: #161b22;
    border-radius: 10px;
}
#info{
    width: 100%;
}
#repo{
    overflow-y: auto;
    h3{
        font-size: 2.0rem;
    }
}
#profile-picture {
    width: 100%;

    img {
        min-width: 30vh;
        max-width: 30vh;
        min-height: 30vh;
        max-height: 30vh;
        border-radius: 100%;
    }
}

.picture-owner{
    img{
        border-radius: 100%;
    }
}

#info-name {
    width: 100%;
}
#star-content{
    img{
        width: 3vh;
    }
    p{
        margin: 0;
    }
}
.card-repo{
    a{
        text-decoration: none;
        color: #b0b7bc;
        cursor:pointer;
    }
}
.carousel-item {
    img {
        max-height: 60vh;
        min-height: 60vh;
        min-width: 90vh;
        max-width: 90vh;

    }
}

footer {
    color: #b0b7bc;
    text-align: center;
    font-size: 1.8rem;
}

.coworkers img {
    min-width: 10vh;
    max-width: 10vh;
    border-radius: 100%;
}

.coworkers p {
    text-align: center;


}

@media (max-width: 990px) {
    #container-profile {
        flex-direction: column !important;
        align-items: center;
    }
    #repo{
        h3{
            font-size: 1.0rem;
          
        }
    }

}

@media (max-width: 750px) {
    #profile-picture {
        img {
            min-width: 20vh;
            max-width: 20vh;
            min-height: 20vh;
            max-height: 20vh;
        }
    }
}

@media (max-width: 570px) {
    .carousel-item {
        img {
            min-height: 35vh;
            max-height: 35vh;
            width: 100%;
        }
    }
}
